[submodule "submodules-test-2"]
	path = submodules-test-2
	url = git@github.com:sfehlandt/submodules-test-2.git
[submodule "submodules-test-3"]
	path = submodules-test-3
	url = git@github.com:sfehlandt/submodules-test-3.git
	branch = develop
